@{
    ViewBag.Title = "StyleX";
    Layout = "_Layout";
}
<style>
    model-viewer {
        --progress-bar-color: transparent;
    }
</style>


<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">

        <div class="slider-item" style="max-height: 700px;">
            <div class="overlay"></div>
            <div class="container mt-md-5 pt-md-5 h-100 px-2 px-md-0">
                <div class="row align-items-center justify-content-center flex-nowrap h-100" style="gap: 50px;">
                    <div class="text col-5">
                        <span class="subheading">#SẢN PHẨM MỚI</span>
                        <div class="horizontal">
                            <h1 class="mb-4 mt-3">Shoes Collection 2019</h1>
                            <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>

                            <a href="#" class="btn-custom pt-2 btn" style="border-radius: 5px;">Thiết Kế Mẫu Này <i style="margin-left: 6px;" class="fa-solid fa-wand-magic-sparkles fa-beat"></i></a>
                        </div>
                    </div>
                    <model-viewer class="col-6 col-md-6 h-100" alt=""
                                  src="/model/1.glb" ar shadow-intensity="1" camera-controls disable-pan
                                  disable-tap auto-rotate autoplay shadow-softness="0.1" min-camera-orbit="auto auto 100%"
                                  max-camera-orbit="auto auto 100%">
                    </model-viewer>
                </div>
            </div>

        </div>

        <div class="slider-item" style="max-height: 700px;">
            <div class="overlay"></div>
            <div class="container mt-md-5 pt-md-5 h-100 px-2 px-md-0">
                <div class="row align-items-center justify-content-center flex-nowrap h-100" style="gap: 50px;">
                    <div class="text col-5">
                        <span class="subheading">#SẢN PHẨM MỚI</span>
                        <div class="horizontal">
                            <h1 class="mb-4 mt-3">Shoes Collection 2019</h1>
                            <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>

                            <a href="#" class="btn-custom pt-2 btn" style="border-radius: 5px;">Thiết Kế Mẫu Này <i style="margin-left: 6px;" class="fa-solid fa-wand-magic-sparkles fa-beat"></i></a>
                        </div>
                    </div>
                    <model-viewer class="col-6 col-md-6 h-100" alt=""
                                  src="/model/2.glb" ar shadow-intensity="1" camera-controls disable-pan
                                  disable-tap auto-rotate autoplay shadow-softness="0.1" min-camera-orbit="auto auto 100%"
                                  max-camera-orbit="auto auto 100%">
                    </model-viewer>
                </div>
            </div>


        </div>

    </div>
</section>

<section class="ftco-section ftco-deal bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <model-viewer class="w-100 h-100" alt="model-sale"
                              src="/model/3.glb" ar shadow-intensity="1" camera-controls disable-pan
                              disable-tap auto-rotate autoplay shadow-softness="0.1" min-camera-orbit="auto auto 100%"
                              max-camera-orbit="auto auto 100%">
                </model-viewer>
            </div>
            <div class="col-md-6">
                <div class="heading-section heading-section-white">
                    <span class="subheading" style="background-color:#000000; display: inline; padding: 5px 7px; letter-spacing: 4px;">#Ưu đãi lớn</span>
                    <h2 class="mb-3">Giảm giá trong tuần</h2>
                </div>
                <div id="timer" class="d-flex mb-4">
                    <div class="time" id="days"></div>
                    <div class="time pl-4" id="hours"></div>
                    <div class="time pl-4" id="minutes"></div>
                    <div class="time pl-4" id="seconds"></div>
                </div>
                <div class="text-deal">
                    <h2><a href="#">Nike Free RN 2019 iD</a></h2>
                    <p class="price">
                        <span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span>
                    </p>
                    <ul class="thumb-deal d-flex mt-4">
                        <li class="img" style="background-image: url(/images/product-6.png);"></li>
                        <li class="img" style="background-image: url(/images/product-2.png);"></li>
                        <li class="img" style="background-image: url(/images/product-4.png);"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="services-flow">
                    <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                        <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #1e7baf ">
                            <i class="fa-solid fa-shirt fa-bounce mt-1" style="font-size: 30px; color:#f7f7f7"></i>
                        </div>
                        <div class="text">
                            <h3>Không giới hạn</h3>
                            <p class="mb-0">Sản xuất số lượng bất kỳ, từ 01 sản phẩm trở lên.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                        <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #86c9ef ">
                            <i class="fa-solid fa-wand-magic-sparkles fa-bounce mt-1" style="font-size: 30px; color: #f7f7f7"></i>
                        </div>
                        <div class="text">
                            <h3>Thỏa sức sáng tạo</h3>
                            <p class="mb-0">Bạn đưa ra ý tưởng, chúng tôi giúp bạn hoàn thành nó.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                        <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #f7f7f7 ">
                            <i class="fa-solid fa-cube fa-bounce mt-1" style="font-size: 30px; color: #86c9ef"></i>
                        </div>
                        <div class="text">
                            <h3>3D & AR</h3>
                            <p class="mb-0">Nâng tầm thiết kế, góc nhìn trực quan trên mô hình 3D.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                        <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #f7f7f7 ">
                            <i class="fa-solid fa-headset fa-bounce mt-1" style="font-size: 30px; color: #1e7baf"></i>
                        </div>
                        <div class="text">
                            <h3>Hỗ trợ 24/7</h3>
                            <p class="mb-0 text-white">
                                Chăm sóc khách hàng 24/7 sẵn sàng giúp đỡ và giải đáp mọi thắc mắc của bạn.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="heading-section ftco-animate mb-5">
                    <h2 class="mb-4">Dịch vụ của chúng tôi</h2>
                    <p>
                        Chúng tôi mang đến giải pháp toàn diện cho các mẫu may mặc như áo khoác, áo dài, hoodie,... áp dụng sức mạnh của công nghệ tiên tiến vào sản xuất để đưa ra giải pháp sản xuất hiệu quả và tối ưu về thiết kế, đáp ứng từng nhu cầu khác biệt.
                    </p>
                </div>
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="mb-4">
                                <img style=" width: initial;height: 200px;" src="/images/ar.jpg" />
                            </div>
                            <div class="text">
                                <p class="mb-1" style="font-size: 15px;">
                                    Phần mềm thiết kế sản phẩm trên mô hình 3D <br /> ngay trên website, chế độ AR chân thực, 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="mb-4">
                                <img style=" width: initial;height: 200px;" src="/images/may.jpg" />
                            </div>
                            <div class="text">
                                <p class="mb-1" style="font-size: 15px;">
                                    Với sản phẩm, chúng tôi luôn tỉ mỉ hoàn thiện, <br /> sự hài lòng của khách hàng là mục tiêu của chúng tôi.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="mb-4">
                               <img style=" width: initial;height: 200px;" src="/images/may-in.jpg"/>
                            </div>
                            <div class="text">
                                <p class="mb-1" style="font-size: 15px;">
                                    Có đầy đủ trang thiết bị in màu hiện đại như: in phun, <br /> in UV, in truyền nhiệt, in laser, in kỹ thuật số truyền nhiệt,
                                    in 3D...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="mb-4">
                                <img style=" width: initial;height: 200px;" src="/images/chat-lieu.jpg" />
                            </div>
                            <div class="text">
                                <p class="mb-1" style="font-size: 15px;">
                                    Đa dạng chất liệu như: vải cotton, len, jean, vải <br /> thô, nỉ,... 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-2">Sản phẩm nổi bật</h2>
                <p>Đa dạng mẫu mã với chất liệu, màu sắc khác nhau. Thả ga lựa chọn chất riêng cho mình</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
                <div class="product d-flex flex-column">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="/model/1.webp"
                             alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3">
                        <div class="d-flex">
                            <div class="cat">
                                <span>Lifestyle</span>
                            </div>
                            <div class="rating">
                                <p class="text-right mb-0">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                        <div class="pricing">
                            <p class="price"><span>$120.00</span></p>
                        </div>
                        <div class="bottom-area d-flex px-2">
                            <a href="#" class="add-to-cart text-center py-2 mr-1" style="height: fit-content;font-size:11px;">
                                <span>
                                    Thiết kế <i class="fa-solid fa-wand-magic-sparkles"></i>
                                </span>
                            </a>
                            <a href="#" class="buy-now text-center py-2" style="height: fit-content;font-size:11px;">
                                <span>
                                    Thêm vào giỏ <i class="fa-solid fa-cart-plus"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4" style="font-size: 50px;">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Miễn Phí Vận Chuyển</h3>
                        <p>
                            Miễn phí vận chuyển tất cả đơn hàng trong khu vực nội thành Hà Nội hoặc có hóa đơn trên 1.000.000&#8363;.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4" style="font-size: 50px;">
                        <i class="fa-solid fa-headset"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Hỗ Trợ Khách Hàng</h3>
                        <p>
                            Chăm sóc khách hàng 24/7 sẵn sàng giúp đỡ và giải đáp mọi thắc mắc của bạn về sản phẩm, đảm bảo trải nghiệm mua sắm trực tuyến thuận lợi nhất.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4" style="font-size: 50px;">
                        <i class="fa-solid fa-user-shield"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Quyền Lợi Khách Hàng</h3>
                        <p>
                            Nếu như bạn không hài lòng về sản phẩm hoặc sản phẩm có lỗi, bạn có thể hoàn trả hoặc yêu cầu làm lại sản phẩm trong 1 tuần kể từ ngày nhận hàng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="choose-wrap divider-one img p-5 d-flex align-items-end"
                     style="background-image: url(/images/choose-1.jpg);">

                    <div class="text text-center text-white px-2">
                        <span class="subheading">Men's Shoes</span>
                        <h2>Men's Collection</h2>
                        <p>
                            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                            language ocean.
                        </p>
                        <p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row no-gutters choose-wrap divider-two align-items-stretch">
                    <div class="col-md-12">
                        <div class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end"
                             style="background-image: url(/images/choose-2.jpg);">
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="text text-white px-5">
                                    <span class="subheading">Women's Shoes</span>
                                    <h2>Women's Collection</h2>
                                    <p>
                                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                                        large language ocean.
                                    </p>
                                    <p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="choose-wrap wrap img align-self-stretch d-flex align-items-center"
                                     style="background-image: url(/images/choose-3.jpg);">
                                    <div class="text text-center text-white px-5">
                                        <span class="subheading">Summer Sale</span>
                                        <h2>Extra 50% Off</h2>
                                        <p>
                                            Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean.
                                        </p>
                                        <p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-wrap wrap img align-self-stretch d-flex align-items-center"
                                     style="background-image: url(/images/choose-3.jpg);">
                                    <div class="text text-center text-white px-5">
                                        <span class="subheading">Shoes</span>
                                        <h2>Best Sellers</h2>
                                        <p>
                                            Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean.
                                        </p>
                                        <p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





@section Scripts {

}

