@{
    ViewBag.Title = "StyleX - Sản phẩm";
    ViewBag.pageName = "Giỏ hàng";
    Layout = "_Layout";
}


<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-12 ftco-animate">
                <div class="cart-list" style="overflow-x: auto;">
                    <table class="table" style="vertical-align: middle;">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Chọn</th>
                                <th>Hình ảnh</th>
                                <th>Mô tả</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td class="quantity" style="width: 10%;">
                                    <input class="form-check-input mt-0 position-sticky" style="width: 30px; height: 30px;" type="checkbox" value="">
                                </td>

                                <td class="image-prod" style="width: 20%">
                                    <div class="img" style="background-image:url(/images/product-3.jpg);"></div>
                                </td>

                                <td class="product-name" style="width: 25%">
                                    <h3>Nike Free RN 2019 iD</h3>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>

                                <td class="price" style="width: 10%">$4.90</td>

                                <td class="quantity" style="width: 10%">
                                    <div class="input-group mb-3">
                                        <input type="text" name="quantity"
                                               class="quantity form-control input-number" value="1" min="1" max="100">
                                    </div>
                                </td>

                                <td class="total" style="width: 15%">$4.90</td>
                                <td style="width: 20%">
                                    <a href="#"><i class="fa-solid fa-trash" style="color: #d71818; font-size: 27px;"></i></a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>$20.60</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>$0.00</span>
                    </p>
                    <p class="d-flex">
                        <span>Discount</span>
                        <span>$3.00</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>$17.60</span>
                    </p>
                </div>
                <p class="text-center">
                    <a href="checkout.html" class="btn btn-primary py-3 px-4">
                        Proceed to
                        Checkout
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

