@{
    Layout = "_LayoutAdmin";
}
<div id="appMaterial">
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Mã giao dịch:</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label>Req code:</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label>Loại thanh toán:</label>
            <select class="form-control">
                <option value="">Tất cả</option>
                <option value="0">Nạp</option>
                <option value="1">Rút</option>
            </select>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        var appMaterial = new Vue({
            el: "#appMaterial",
            data: {
                dataTable: [],
                isLoad: false
            },
            methods: {
                init: async function () {

                    await this.GetMaterial();
                    this.$forceUpdate();
                },
                GetMaterial: async function () {
                    var self = this;
                    self.isLoad = true;
                    self.dataTable = [];

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/admin/GetMaterials",
                        data: JSON.stringify({

                        }),
                        success: function (res) {
                            self.isLoad = false;
                            if (res.status == 1) {
                                self.dataTable = res.data;
                                ShowAlert(res.message, "success");

                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (xhr, status, error) {
                            self.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                }



            },
            mounted() {
                this.init();
            },
        });

    </script>

    }